In [1]:
import glob
import os
import pandas as pd

In [2]:
# Specify correct location where datasets are stored
path = r'C:\Users\I539797\Documents\GitHub\UberMovementDataDownloadBot\Datasets\Atlanta'

In [3]:
# Merge/Concatenate all datasets into one
df = pd.concat(map(pd.read_csv, glob.glob(os.path.join(r'C:\Users\I539797\Documents\GitHub\UberMovementDataDownloadBot\Datasets\Atlanta', "*.csv"))))

In [4]:
df.count

<bound method DataFrame.count of     Origin Movement ID Origin Display Name Destination Movement ID  \
0                 1074  Traffic Zone 02047                      28
1                 1074  Traffic Zone 02047                      29
2                 1074  Traffic Zone 02047                      35
3                 1074  Traffic Zone 02047                      43
4                 1074  Traffic Zone 02047                      48
..                 ...                 ...                     ...
542               1074  Traffic Zone 02047                    1408
543               1074  Traffic Zone 02047                    1411
544               1074  Traffic Zone 02047                    1423
545               1074  Traffic Zone 02047                    1428
546               1074  Traffic Zone 02047                    1431

    Destination Display Name                                     Date Range  \
0         Traffic Zone 16024  1/4/2016 - 1/4/2016, Every day, Daily Average
1         Traffic Zone 16025  1/4/2016 - 1/4/2016, Every day, Daily Average
2         Traffic Zone 14080  1/4/2016 - 1/4/2016, Every day, Daily Average
3         Traffic Zone 14072  1/4/2016 - 1/4/2016, Every day, Daily Average
4         Traffic Zone 16027  1/4/2016 - 1/4/2016, Every day, Daily Average
..                       ...                                            ...
542       Traffic Zone 11059  1/2/2016 - 1/2/2016, Every day, Daily Average
543       Traffic Zone 11060  1/2/2016 - 1/2/2016, Every day, Daily Average
544       Traffic Zone 10009  1/2/2016 - 1/2/2016, Every day, Daily Average
545       Traffic Zone 10040  1/2/2016 - 1/2/2016, Every day, Daily Average
546       Traffic Zone 10011  1/2/2016 - 1/2/2016, Every day, Daily Average

    Mean Travel Time (Seconds) Range - Lower Bound Travel Time (Seconds)  \
0                         2296                                      1593
1                         2378                                      1662
2                         1846                                      1703
3                         1797                                      1647
4                         2301                                      1670
..                         ...                                       ...
542                       1233                                      1011
543                       1105                                       926
544                       1349                                       974
545                       1658                                      1118
546                       1400                                      1055

    Range - Upper Bound Travel Time (Seconds)
0                                        3309
1                                        3402
2                                        2000
3                                        1959
4                                        3168
..                                        ...
542                                      1502
543                                      1317
544                                      1866
545                                      2458
546                                      1856

[1593392 rows x 8 columns]>

In [5]:
# Create a numeric index, because the existing index will be replaced by the Date Range later
df['Numeric Index'] = range(len(df))
df.tail()

,Origin Movement ID,Origin Display Name,Destination Movement ID,Destination Display Name,Date Range,Mean Travel Time (Seconds),Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds),Numeric Index
542,1074,Traffic Zone 02047,1408,Traffic Zone 11059,"1/2/2016 - 1/2/2016, Every day, Daily Average",1233,1011,1502,1593387
543,1074,Traffic Zone 02047,1411,Traffic Zone 11060,"1/2/2016 - 1/2/2016, Every day, Daily Average",1105,926,1317,1593388
544,1074,Traffic Zone 02047,1423,Traffic Zone 10009,"1/2/2016 - 1/2/2016, Every day, Daily Average",1349,974,1866,1593389
545,1074,Traffic Zone 02047,1428,Traffic Zone 10040,"1/2/2016 - 1/2/2016, Every day, Daily Average",1658,1118,2458,1593390
546,1074,Traffic Zone 02047,1431,Traffic Zone 10011,"1/2/2016 - 1/2/2016, Every day, Daily Average",1400,1055,1856,1593391

In [6]:
# Reorder columns
df = df[['Numeric Index',
         'Origin Movement ID',
         'Origin Display Name',
         'Destination Movement ID',
         'Destination Display Name',
         'Date Range',
         'Mean Travel Time (Seconds)',
         'Range - Lower Bound Travel Time (Seconds)',
         'Range - Upper Bound Travel Time (Seconds)',
        ]]

In [7]:
df.head()

,Numeric Index,Origin Movement ID,Origin Display Name,Destination Movement ID,Destination Display Name,Date Range,Mean Travel Time (Seconds),Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds)
0,0,1074,Traffic Zone 02047,28,Traffic Zone 16024,"1/4/2016 - 1/4/2016, Every day, Daily Average",2296,1593,3309
1,1,1074,Traffic Zone 02047,29,Traffic Zone 16025,"1/4/2016 - 1/4/2016, Every day, Daily Average",2378,1662,3402
2,2,1074,Traffic Zone 02047,35,Traffic Zone 14080,"1/4/2016 - 1/4/2016, Every day, Daily Average",1846,1703,2000
3,3,1074,Traffic Zone 02047,43,Traffic Zone 14072,"1/4/2016 - 1/4/2016, Every day, Daily Average",1797,1647,1959
4,4,1074,Traffic Zone 02047,48,Traffic Zone 16027,"1/4/2016 - 1/4/2016, Every day, Daily Average",2301,1670,3168

In [14]:
# Count how many recorded trips each date had
df['Date Range'].value_counts()

9/28/2018 - 9/28/2018, Every day, Daily Average    2142
5/25/2018 - 5/25/2018, Every day, Daily Average    2102
7/13/2018 - 7/13/2018, Every day, Daily Average    2074
8/16/2018 - 8/16/2018, Every day, Daily Average    2054
5/24/2018 - 5/24/2018, Every day, Daily Average    2044
                                                   ...
1/12/2016 - 1/12/2016, Every day, Daily Average     504
3/24/2020 - 3/24/2020, Every day, Daily Average     494
3/30/2020 - 3/30/2020, Every day, Daily Average     491
3/29/2020 - 3/29/2020, Every day, Daily Average     484
3/31/2020 - 3/31/2020, Every day, Daily Average     465
Name: Date Range, Length: 1541, dtype: int64

In [19]:
# This date, for example, had no recorded data (2018-10-2018 also has no data)
print(df.loc[df["Date Range"] == '10/28/2018 - 10/28/2018, Every day, Daily Average'])

Empty DataFrame
Columns: [Numeric Index, Origin Movement ID, Origin Display Name, Destination Movement ID, Destination Display Name, Date Range, Mean Travel Time (Seconds), Range - Lower Bound Travel Time (Seconds), Range - Upper Bound Travel Time (Seconds)]
Index: []

In [20]:
# Group data by the date. getting all data for a specific date
date_grp = df.groupby(['Date Range'])

In [22]:
# Specify a date to look at their data only
date_grp.get_group('9/28/2018 - 9/28/2018, Every day, Daily Average')

,Numeric Index,Origin Movement ID,Origin Display Name,Destination Movement ID,Destination Display Name,Date Range,Mean Travel Time (Seconds),Range - Lower Bound Travel Time (Seconds),Range - Upper Bound Travel Time (Seconds)
0,780303,1074,Traffic Zone 02047,2,Traffic Zone 16011,"9/28/2018 - 9/28/2018, Every day, Daily Average",2408,2100,2760
1,780304,1074,Traffic Zone 02047,4,Traffic Zone 16010,"9/28/2018 - 9/28/2018, Every day, Daily Average",2863,2468,3320
2,780305,1074,Traffic Zone 02047,5,Traffic Zone 14045,"9/28/2018 - 9/28/2018, Every day, Daily Average",2768,1946,3936
3,780306,1074,Traffic Zone 02047,8,Traffic Zone 14050,"9/28/2018 - 9/28/2018, Every day, Daily Average",2836,1961,4100
4,780307,1074,Traffic Zone 02047,13,Traffic Zone 04094,"9/28/2018 - 9/28/2018, Every day, Daily Average",3178,2547,3964
...,...,...,...,...,...,...,...,...,...
1066,1099856,1074,Traffic Zone 02047,1504,Traffic Zone 10050,"9/28/2018 - 9/28/2018, Every day, Daily Average",1923,1595,2317
1067,1099857,1074,Traffic Zone 02047,1506,Traffic Zone 12021,"9/28/2018 - 9/28/2018, Every day, Daily Average",1599,1051,2432
1068,1099858,1074,Traffic Zone 02047,1518,Traffic Zone 10064,"9/28/2018 - 9/28/2018, Every day, Daily Average",2141,1569,2921
1069,1099859,1074,Traffic Zone 02047,1521,Traffic Zone 10065,"9/28/2018 - 9/28/2018, Every day, Daily Average",1918,1491,2467
1070,1099860,1074,Traffic Zone 02047,1529,Traffic Zone 10071,"9/28/2018 - 9/28/2018, Every day, Daily Average",1946,1666,2272

In [28]:
df['Date Range'].str.strip(', Every day, Daily Average')
df['Date Range']

0      1/4/2016 - 1/4/2016, Every day, Daily Average
1      1/4/2016 - 1/4/2016, Every day, Daily Average
2      1/4/2016 - 1/4/2016, Every day, Daily Average
3      1/4/2016 - 1/4/2016, Every day, Daily Average
4      1/4/2016 - 1/4/2016, Every day, Daily Average
                           ...
542    1/2/2016 - 1/2/2016, Every day, Daily Average
543    1/2/2016 - 1/2/2016, Every day, Daily Average
544    1/2/2016 - 1/2/2016, Every day, Daily Average
545    1/2/2016 - 1/2/2016, Every day, Daily Average
546    1/2/2016 - 1/2/2016, Every day, Daily Average
Name: Date Range, Length: 1593392, dtype: object